@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/placeholders';

/* ---------------- 기본 스타일 (xl 이상) ---------------- */

#topbar-wrapper {
  height: v.$topbar-height;
  background-color: var(--topbar-bg);

  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -100vw;
    width: 200vw;
    height: 100%;
    background: var(--topbar-bg);
    z-index: -1;
  }
}

#topbar {
  @extend %btn-color;
}

#breadcrumb {
  font-size: 1rem;
  color: var(--text-muted-color);
  padding-left: 0.5rem;

  a:hover {
    @extend %link-hover;
  }

  span {
    &:not(:last-child)::after {
      content: '›';
      padding: 0 0.3rem;
    }
  }
}

#topbar-title {
  display: none;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: sans-serif;
  color: var(--topbar-text-color);
  text-align: center;
  width: 70%;
  word-break: keep-all;
}

#sidebar-trigger,
#search-trigger {
  display: none;
}


/* ---------------- md 이하 ---------------- */

@include bp.lte(bp.get(md)) {
  #topbar {
    @include mx.max-w-100;
  }
}


/* ---------------- lg 이하 (모바일 / 태블릿) ---------------- */

@include bp.lt(bp.get(lg)) {

  #topbar-wrapper {
    @include mx.slide(top 0.2s ease);
    left: 0;
  }

  #topbar {
    max-width: 100%;
  }

  #breadcrumb {
    display: none;
  }

  #sidebar-trigger,
  #search-trigger {
    display: block;
  }
}


/* ---------------- lg ~ xl (중간 데스크톱) ---------------- */

@include bp.between(bp.get(lg), calc(#{bp.get(xl)} - 1px)) {

  #topbar {
    display: flex;
  }

  #breadcrumb {
    display: none;
  }

  #topbar-title {
    display: block;
    text-align: left;
    width: auto;
    margin-right: auto;
    order: 1;
  }

  nav[aria-label='Mobile Navigation'] {
    order: 2;
    margin-left: auto;
  }

  #sidebar-trigger {
    display: none;
  }

  #breadcrumb {
    width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
  }
}